@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.width{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;

}
*{
    margin: 0;
}
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .bg{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
  }

  .dark{
    color: #808080;
  }

/* font-color */

/* shared styels */
.btn-primary{
    font-size: 1.25rem;
    color: white;
    background-color: #FEA301;
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
}
.justify{
    text-align: center;
}
/* navbar */
.nav-title{
    font-size: 2rem;
}

.logo-title{
    display: flex;
    align-items: center;
    
}

.nav-items li {
    list-style: none;
    text-decoration: none;
}
.nav-item-section{
    display: flex;
    gap: 32px;
}

.nav-items li a{
text-decoration: none;
font-size: 1.25rem;
font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.hr-line{
    display: none;
}

/* banner section */
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-all{
    max-width: 640px;
    width: 100%;
}

.banner-description{
    font-size: 1.25rem;
    margin-top: 24px;
}

.b-button{
    color: #FFF4DC;
    background-color: black;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    margin-top: 24px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* curriculam section */
.bg{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
}

.curriculam-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.curriculam-box-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 32px;
}

.curriculam-box-description{
    font-size: 1rem;
    margin-bottom: 32px;
}

.rm-button{
    text-decoration: none;
    color: #01ACFD;
    font-size: 1rem;
    font-weight: bold;
}

.c-boxs{
    display: flex;
    gap: 70px;
    justify-content: center;
    text-align: center;
    
}
.curriculam-box{
    width: 364px;
    height: 476px;
    border: 1px solid rgba(224, 221, 221, 0.61);
    box-shadow: 1px solid black ;
    align-content: center;
    gap: 30px;
    border-radius: 18px;

    
}

.gradinet-1{
    background: linear-gradient( to bottom , #DEF5FF,white,white,white );
}

.gradinet-2{
    background: linear-gradient( to bottom , #FFF4DC,white,white,white );
}

.gradinet-3{
    background: linear-gradient( to bottom , #F2E8FF,white,white,white );
}

.gradinet-4{
    background: linear-gradient(to top , #e2bd7ed9, #FFFFFF, #FFFFFF);
}
.b-left{
    display: inline-block;
    justify-items: center;
    align-items: center;
    background-color: #FEA301;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.c-buttons{
    text-align: center;
    margin-top: 70px;
    gap: 20px;
}

/* stories-section */
.our-story-titile{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 46px;
}

.time-button-1{
    background-color: #3CD8E8;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 15px 19px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 50px;
   
    
    
}



.story-title-1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 36px;
    margin-bottom: 51px;
    padding: 0 38px;
}

.story-description-1{
    padding: 0 38px;
    margin-bottom: 34px;
}

.time-button{
    background-color:#95B226;
    color: white;
    border: none;
    border-radius: 48px;
    padding: 10px 18px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 158px;
    margin-left: 20px;
}

.story-description{
    font-size: 1rem;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 25px;
    padding-right: 48px;
}


.story-box-1{
    background-image: url(../assets/story-1.png);
    background-repeat: no-repeat;
    padding-top: 314px;
  grid-area: story-box-1;
  background-color: white;
  border-radius: 16px;
  border-color: #d4d4d4;
  width: 540px;
  
}
.story-image-1{
    border-radius: 16px 16px 0 0;
}
.story-box{
    grid-area: story-box;
}

.story-box-2{
    background-image: url(../assets/story-2.png);
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 16px;
    max-width: 291px;
    width: 100%;
}

.story-box-3{
    background-image: url(../assets/story-3.png);
    background-repeat: no-repeat;
    max-width: 291px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.story-box-4{
    background-image: url(../assets/story-4.png);
    background-repeat: no-repeat;
    max-width: 291px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.story-box-5{
    background-image: url(../assets/story-5.png);
    background-repeat: no-repeat;
    max-width: 291px;
    width: 100%;
    background-color: white;
    border-radius: 16px;
}

.f-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.our-stories{
    margin-top: 80px;
    display: flex;
    gap: 30px;
    justify-content: center;
   
}

.view-all-button{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 10px 61px;
    border-radius: 12px;
    margin-top: 80px;
    margin-bottom: 60px;
}


/* Footer */

.footer-logo{
    display: flex;
    align-items: center;
}

.footer-title{
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 35px;
    margin-top: 20px;
}
.footer-description{
    font-size: 1.25rem;
    color: white;
    width: 400px;
}
.about-title{
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 20px;
}
.about-items > li{
    list-style: none;
    margin-bottom: 20px;
    margin-left: -40px;
}
.about-items > li > a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.k-touch{
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}
.ft{
    display: flex;
    justify-content: space-between;
    padding-top:123px;
    padding-bottom: 174px;
}

/* mid device responsive */
@media screen and (max-width: 576px) {

    .nav-title, .nav-item, .btn-primary{
        display: none;
    }

    .menu-icon{
        display: block;
        margin-right: 16px;
    }
.hr-line{
    display: block;
}

.banner{
    flex-direction: column-reverse;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.banner-title{
    margin-top: 20px;
}

.banner-image{
    width: 100%;
}

.c-boxs{
    flex-direction: column;
}
.curriculam{
    justify-items: center;
}
.c-buttons{
    display: none;
}


.story-box-1{
    display: none;
}

.ft{
    flex-direction: column;
}
.about-section{
    justify-content: flex-start;
}
.ft{
    margin-left: 20px;
}
.footer> .k-touch, .about-section{
    margin-top: 40px;
}
.story-box-2, .story-box-3, .story-box-4, .story-box-5{
    height: 100%;
    padding-bottom: 8px;

}
.footer-description{
width: 357px;
}
.time-button{
    font-size: 0.7rem;
    margin-top: 170px;
    padding: 5px 10px;
}
.f-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    row-gap: 18px;
}
}
/* max device */
@media screen and (min-width: 578px) {
    .menu-icon{
     display: none;
    }
}